* {
    padding: 0;
    margin: 0;
}

html {
    height: auto;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to bottom left, black, gray); */
    background: linear-gradient(8deg, rgba(0, 0, 0, 1) 0%, rgba(87, 84, 81, 1) 74%);
}

body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}

.center {
    display: inline-flex;
    height: 100%;
    width: 73.5%;
    background-color: transparent;
}

.container center #suap a {
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    font-weight: 500;
    float: left;
    font-size: 23pt;
    margin-bottom: 20px;
    /* font-weight: bolder !important; */
    background: -webkit-linear-gradient(rgb(255, 254, 254), rgb(102, 101, 101));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 30px;
}

.master {
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    display: block;
    /* width: 500px; */
    width: 350px;
    border-radius: 5px;
    margin-top: 6%;
    height: 500px;
    position: relative;
    transform: translateX(50%);
    /* transform: translateY(50%); */
}

#forgot a {
    margin-top: 20px;
    font-size: 9pt;
    text-align: right;
    color: #237746;
    text-decoration: none;
}

#forgot a:hover {
    text-decoration: underline;
    transition: 1s;
    color: rgb(88, 87, 87);
}

.separate {
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 0;
    display: block;
    width: 350px;
    border-radius: 5px;
    height: 500px;
}

.master * {
    display: block;
    width: 100%;
    color: gray;
}

.master label,
.master button {
    margin-top: 20px;
}

.master button {
    background-color: #25a25a;
    color: white;
    border-radius: 25px;
    border: 0;
    font-size: 11.5pt;
}

.master button:hover {
    background-color: #237746;
}

.master button,
.master input {
    height: 40px;
}

#login {
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 10px;
}

#login i {
    color: rgb(192, 190, 190);
    font-size: 13pt;
    display: inline;
    padding-right: 10px;
}

#login p {
    display: inline;
}

.master input {
    padding-left: 5px;
    border-radius: 5px;
    border: 2px solid rgba(168, 167, 167, 0.781);
    font-size: 12pt;
    color: black;
}

.master input:focus {
    border: 2px solid rgba(23, 199, 0, 0.781);
    outline: none;
    transition: 0.5s;
}


/* .master label,
.master button {
    margin-top: 15px;
}

.master button {
    background-color: green;
    color: white;
    border-radius: 10px;
}

.master button,
.master input {
    height: 40px;
}

.master a {
    margin-top: 15px;
    color: green;
    text-align: right;
} */

.teste {
    text-align: center;
    /* display: block; */
}

.valeu {
    color: gray;
    /* transform: translateX(50%); */
    /* text-align: center; */
    display: block;
    /* text-align: center; */
    /* left: 30%; */
}

.side {
    /* display: inline-block; */
    display: inline-flex;
    width: 26.5%;
    background-color: rgba(61, 61, 61, 0.4);
    /* float: left; */
}

.container {
    /* padding: 13.8%; */
    width: 100%;
    padding-top: 13.8%;
    padding-left: 13.8%;
    padding-bottom: 13.8%;
    padding-right: 14%;
}

.container center {
    margin-bottom: 30px;
}

.container center img {
    width: 148px;
    height: 38.85px;
}

.container nav ul {
    margin-bottom: 15px;
    list-style: none;
}

.title {
    font-size: 8.5pt;
    color: #aaa !important;
    border: none !important;
}

.container nav ul li {
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.3);
    padding-top: 8px;
    padding-bottom: 8px;
    /* padding-right: 0;
    margin-right: 0; */
}

.container nav ul li i {
    color: grey;
    padding-right: 5px;
}

.container nav ul li:hover {
    color: green;
}

.container nav ul li a {
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.container nav ul li a:hover {
    color: #75ad0a;
    transition: 0.5s;
}

.menu {
    list-style: none;
}

.opmenu {
    color: white;
    border-bottom: 1px solid black;
    font-size: 16pt;
    margin-top: 5px;
}

.topmenu {
    margin-top: 15px;
    color: gray;
}