* {
    padding: 0;
    margin: 0;
}

html {
    height: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom left, black, gray);
}

.center {
    display: inline-block;
    height: 100%;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
}

.master {
    background-color: white;
    padding: 50px;
    width: 500px;
    /* left: 50%; */
    position: relative;
    transform: translateX(30%);
    /* background-color: transparent; */
    /* top: 50%;
    transform: translateY(-50%); */
}

.master * {
    display: block;
    width: 100%;
    color: gray;
}

.master label,
.master button {
    margin-top: 15px;
}

.master button {
    background-color: green;
    color: white;
    border-radius: 10px;
}

.master button,
.master input {
    height: 40px;
}

.master a {
    margin-top: 15px;
    color: green;
    text-align: right;
}

.valeu {
    color: gray;
    transform: translateX(30%);
    /* text-align: center; */
    left: 30%;
}

.side {
    display: inline-block;
    width: 26.5%;
    background-color: rgb(105, 105, 105, 0.1);
    /* float: left; */
}

.container {
    padding: 13.8%;
}

.container center {
    margin-bottom: 30px;
}

.container center img {
    width: 148px;
    height: 38.85px;
}

.container nav ul {
    margin-bottom: 15px;
    list-style: none;
}

.title {
    font-size: 8pt;
    color: #aaa !important;
    border: none !important;
}

.container nav ul li {
    border-bottom: 0.5px solid rgb(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.container nav ul li i {
    color: grey;
    padding-right: 5px;
}

.container nav ul li a {
    text-decoration: none;
    color: white;
}

.container nav ul li a:hover {
    color: #75ad0a;
    transition: 0.5s;
}

.menu {
    list-style: none;
}

.opmenu {
    color: white;
    border-bottom: 1px solid black;
    font-size: 16pt;
    margin-top: 5px;
}

.topmenu {
    margin-top: 15px;
    color: gray;
}